body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.section-padding{
    padding: 100px 0;
}

.section-header{
    padding-bottom: 30px;
}

.navbar-brand{
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-area{
    background: #262626;
}

.navbar-nav .nav-link{
    padding-right: 0;
    padding-left: 0;
    color: #fff !important;
    font-weight: bold;
}

.nav-item {
    color: #fff;
    padding: 0 10px;
    text-transform: uppercase;   
}

/* slider area */

.slider-area{
    background-image: url(../img/title.jpg) ;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    position: relative;
}

.slider-area:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(360deg, #000, transparent);
}

.slider-text h1{
    font-size: 45px;
    font-weight: bold;
}

.slider-text a {
    padding: 10px 15px;
    background-color: #2980b9;
    color: #fff;
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.slider-text a:hover{
    background: black;
    color: white;
    text-decoration: none;
}

.slider-text{
    text-align: center;
    padding-top: 20%;
}

/* about area */

.about-img img {
    width: 100%;
}

.item-text{
    padding-left: 15px;
}

.about-img{
    padding-right: 15px;
}

.item-text h4{
    margin-bottom: 30px;
}

/*stats area*/

.stats-area {
    background-image: url(../img/title.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position:relative;
    z-index: 1;
}

.stats-area:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #000, transparent);
    z-index: -1;
}

.single-stats{
    color: #fff;
    text-align: center;
}

.single-stats i {
    margin-bottom: 20px;
}

.single-stats h2{
    font-weight: bold;
    font-size: 50px;
}

.single-stats p {
    font-family: 'Audiowide', cursive;
}

/* services area */

.services-area {
    text-align: center;
}

.single-service{
    border: 1px solid #ddd;
    padding: 30px 20px;
    margin-bottom: 15px;
}

.single-service h2{
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.single-service:hover{
    background: #262626;
    color: #fff;
    transition: 0.6s;
}

/* Award Area */

.award-area {
    position: relative;
    background-image: url(../img/title.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    text-align: center;
}

.award-area:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000, transparent);
    z-index: -1;
}

.single-award h2{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
}

.single-award a {
    text-decoration: none;
    display: inline-block;
    background: #2980b9;
    padding: 15px 30px;
    color: #fff;
    margin-top: 25px;
    border-radius: 50px;
    text-transform: uppercase;
}

.single-award a:hover{
    background: black;
    color: white;
    text-decoration: none;
}

/* portfolio area */

.single-work img {
    width: 100%;
}

.single-work {
    margin-bottom: 30px;
}

.portfolio-area .section-padding {
    padding-bottom: 30px;
}

/* comments */

.testimonial-area {
    position: relative;
    background-image: url(../img/title.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.testimonial-area:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: -1;
}

.single-testi{
    text-align: center;
}

.img-area{
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    
}

.img-area img {
    width: 100%;
}

.single-testi{
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 40px;
}

.testimonial-area .section-header{
    color: #fff;
}

.single-testi h2{
    font-family: 'Audiowide', cursive;
    margin: 15px 0;
    font-size: 25px;
}

/* Footer */

.footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    background: #262626;
    color: #fff;
}

.footer > *{
    flex: 1 100%;
}

.l-footer{
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-area .footer h2{
    font-weight: 900;
    font-size: 20px;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer li{
    line-height: 2em;
}

.footer a{
    text-decoration: none;
}

.r-footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.r-footer > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.boxes a{
    text-decoration: none;
    color: gray;
}

.h-boxes{
    column-count: 2;
    column-gap: 1.25em;
}

.b-footer{
    text-align: center;
    color: gray;
}

.l-footer p{
    padding-right: 20%;
    color: gray;
}

@media screen and (min-width:600px){
    .r-footer > *{
        flex: 1;
    }
    .features{
        flex-grow:2;
    }
    .l-footer{
        flex: 1 0px;
    }
    .r-footer{
        flex: 2 0px;
    }
}

code{
    color: green;
    font-size: 20px;
}

input{
    outline: none;
    border: 0;
}

.message {
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    font-family: tahoma;
    color: black;
}

#greet{
    color: black;
    text-align: center;
    font-size: 24px;
    line-height: 50px;

}

#wrap {
    width: 530px;
    margin: 0 auto 0;
}


#form-wrap{
    overflow: hidden;
    height: 447px;
    position: relative;
    top: 0px;
    transition: all 1s ease-in-out .3s;
}

#form-wrap:before{
    content: "";
    position: absolute;
    bottom: 128px;
    left: 0px;
    background: url('../img/before.png');
    width: 530px;
    height: 317px;
}


#form-wrap:after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: url('../img/after.png');
    width: 530px;
    height: 259px;
}

#form-wrap.hide:after, #form-wrap.hide:before{
   display: none;
}

#form-wrap:hover{
    height: 777px;
    top: -200px;
}

form{
    background: white;
    position: relative;
    top: 200px;
    overflow: hidden;
    height: 200px;
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid white;
    border-right: 3px;
    transition: all 1s ease-in-out .3s;
    
}

#form-wrap:hover form{
    height: 530px;
}